@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Ẩn thanh cuộn */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Trình soạn thảo ReactQuill */
.ql-editor {
    min-height: 24rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    font-size: 1rem;
    background: #fff;
}

/* input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}
